<div id="<%= dom_id doctor_patient %>">
  <p>
    <strong>Doctor:</strong>
    <%= doctor_patient.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= doctor_patient.patient_id %>
  </p>

</div>
