<h1>Editing doctor patient</h1>

<%= render "form", doctor_patient: @doctor_patient %>

<br>

<div>
  <%= link_to "Show this doctor patient", @doctor_patient %> |
  <%= link_to "Back to doctor patients", doctor_patients_path %>
</div>
